.deviceLock,
body,
html {
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body,
html {
  background: #0e93cc;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  color: #fff;
  overflow: hidden;
}

canvas {
  image-rendering: optimizeSpeed;
  -webkit-interpolation-mode: nearest-neighbor;
  cursor: pointer;
}

.deviceLock {
  position: absolute;
  display: none;
}

@media screen and (orientation: landscape) and (min-width: 321px) {
  .deviceLock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: #3c3c3c;
    display: none;
  }
}

@media screen and (orientation: portrait) {
  .deviceLock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: #fc3c3c;
    display: none !important;
  }
}

.rotateDevice {
  width: 100%;
  height: 100%;
  background: url("media/rotatedevice.png") 50% 50% no-repeat;
}
